{% extends 'core/base.html' %}
{% load static %}
{% block title %}Gestión de Procesos y Horas Extras{% endblock %}
{% block navbar_extra %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (window.location.pathname === '/horas_procesos/gestion_horas_procesos/') {
            const navbar = document.querySelector('.navbar-nav.ms-auto');
            const syncButton = document.createElement('li');
            syncButton.className = 'nav-item';
            syncButton.innerHTML = `
                <button id="sync-to-server-button" class="nav-link">Sincronizar Procesos</button>
            `;
            navbar.appendChild(syncButton);

            document.getElementById('sync-to-server-button').addEventListener('click', function() {
                fetch("{% url 'horas_procesos:sync_to_server' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error durante la sincronización.');
                });
            });
        }
    });
</script>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Gestión de Procesos y Horas Extras</h2>
    <form method="post" onsubmit="return validarFormulario()">
        {% csrf_token %}
        <p class="text-center">Reporte Diario de Coordinador</p>
        <div class="mb-4">
            <!-- Mostrar la fecha actual -->
            <label for="fecha_hora" class="form-label">Fecha:</label>
            <p id="fecha_hora" class="form-control-plaintext"></p>
        </div>
        <div class="mb-4">
            <!-- Selector de departamento -->
            <label for="depto_select" class="form-label">Selecciona un Departamento:</label>
            <select id="depto_select" class="form-select" onchange="filtrarEmpleados()">
                <option value="" selected>Departamento</option>
                {% for depto in departamentos %}
                <option value="{{ depto }}">{{ depto }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <!-- Mostrar el total de empleados -->
            <p id="total_empleados" class="form-label" style="display: none;">Total de Empleados: 0</p>   
        </div>
        <div id="tabla_empleados" class="table-responsive" style="display: none;">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>No. Empleado</th>
                        <th>Empleado</th>
                        <th>Departamento</th>
                        <th>Inasistencia</th>
                        <th>
                            <select class="form-select form-select-sm" name="proceso1_header" onchange="toggleProcesoInputs(1)">
                                <option value="" disabled selected>Proceso 1</option>
                                {% for proceso in procesos %}
                                <option value="{{ proceso.id_pro }}">{{ proceso.nombre_pro }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select class="form-select form-select-sm" name="proceso2_header" onchange="toggleProcesoInputs(2)">
                                <option value="" disabled selected>Proceso 2</option>
                                {% for proceso in procesos %}
                                <option value="{{ proceso.id_pro }}">{{ proceso.nombre_pro }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select class="form-select form-select-sm" name="proceso3_header" onchange="toggleProcesoInputs(3)">
                                <option value="" disabled selected>Proceso 3</option>
                                {% for proceso in procesos %}
                                <option value="{{ proceso.id_pro }}">{{ proceso.nombre_pro }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select class="form-select form-select-sm" name="proceso4_header" onchange="toggleProcesoInputs(4)">
                                <option value="" disabled selected>Proceso 4</option>
                                {% for proceso in procesos %}
                                <option value="{{ proceso.id_pro }}">{{ proceso.nombre_pro }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select class="form-select form-select-sm" name="proceso5_header" onchange="toggleProcesoInputs(5)">
                                <option value="" disabled selected>Proceso 5</option>
                                {% for proceso in procesos %}
                                <option value="{{ proceso.id_pro }}">{{ proceso.nombre_pro }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select class="form-select form-select-sm" name="proceso6_header" onchange="toggleProcesoInputs(6)">
                                <option value="" disabled selected>Proceso 6</option>
                                {% for proceso in procesos %}
                                <option value="{{ proceso.id_pro }}">{{ proceso.nombre_pro }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>Horas Extras</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="empleados_tbody">
                    {% for empleado in empleados %}
                    <tr data-depto="{{ empleado.depto_emp }}" data-codigo_emp="{{ empleado.codigo_emp }}">
                        <td class="employee-number">{{ forloop.counter }}</td>
                        <td>{{ empleado.codigo_emp }}</td>
                        <td>{{ empleado.nombre_emp }}</td>
                        <td>{{ empleado.depto_emp }}</td>
                        <td>
                            <input type="checkbox" class="form-check-input" name="inasistencia_{{ empleado.codigo_emp }}" onchange="toggleInputs('{{ empleado.codigo_emp }}')">
                            <label for="inasistencia_{{ empleado.codigo_emp }}"></label>
                        </td>
                        {% for i in "123456" %}
                        <td>
                            <input type="checkbox" class="form-check-input copy-checkbox" data-proceso="{{ i }}" data-emp="{{ empleado.codigo_emp }}" onchange="handleCheckboxChange(event)">
                            <label for="copy-checkbox">Copiar Horas</label>
                            <input type="time" class="form-control form-control-sm mb-2" name="inicio_proceso{{ i }}_{{ empleado.codigo_emp }}" placeholder="Inicio" disabled step="60" onchange="ajustarHoraFin('{{ empleado.codigo_emp }}', {{ i }})">
                            <input type="time" class="form-control form-control-sm mb-2" name="fin_proceso{{ i }}_{{ empleado.codigo_emp }}" placeholder="Fin" disabled step="60" onchange="calcularTotalHoras('{{ empleado.codigo_emp }}', {{ i }})">
                            <input type="text" class="form-control form-control-sm mb-2" name="total_proceso{{ i }}_{{ empleado.codigo_emp }}" readonly>
                            <input type="checkbox" class="form-check-input delete-checkbox" data-proceso="{{ i }}" data-emp="{{ empleado.codigo_emp }}" onchange="handleDeleteCheckboxChange(event)">
                            <label for="delete-checkbox">Borrar Horas</label>
                        </td>
                        {% endfor %}
                        <td>
                            <input type="number" class="form-control form-control-sm" name="horas_extras_{{ empleado.codigo_emp }}" onchange="calcularTotalHoras('{{ empleado.codigo_emp }}')">
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm" name="total_{{ empleado.codigo_emp }}" readonly>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-end"><strong>Total Horas:</strong></td>
                        {% for i in "123456" %}
                        <td id="total_proceso{{ i }}" class="text-center">0.00</td>
                        {% endfor %}
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </div>
    </form>
</div>

<script src="{% static 'horas_procesos/js/gestion_horas_procesos.js' %}"></script>
{% endblock %}